body * {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    font-family: 'Cabin', sans-serif;
    background: #ffffff;
}

/* Calculo para font fluida
Ftmin   = Tamaño en pixel minimo de la fuente
Ftmax   = Tamaño en pixel maximo de la fuente
Vpmin   = Tamaño viewport como referencia el ANCHO(width) de pantalla/diseño minimo en pixeles
Vpmax   = Tamaño viewport como referencia el ANCHO(width) de pantalla/diseño maximo en pixeles
font-size: calc(Ftmin + (Ftmax - Ftmin) * ((100vw - Vpmin) / (Vpmax - Vpmin)))
font-size: calc(35px + (82 - 35)*((100vw - 320px)/(1280-320))); */
h5{
    font-size: calc(16px + (20 - 16)*((100vw - 320px)/(1280-320)));
    font-weight: 400;
}
.h5-bold{
    font-weight: 700;
}
.h5-news{
    font-size: calc(18px + (25 - 18)*((100vw - 320px)/(1280-320)));
}
.title{
    font-size: calc(25px + (35 - 25)*((100vw - 320px)/(1280-320)));
    font-weight: 700;
    color: #343a40;
}
.logo{
    font-family: 'Lobster', cursive;
    font-size: calc(35px + (38 - 35)*((100vw - 320px)/(1280-320)));
}
.logo-sm{
    font-family: 'Lobster', cursive;
    font-size: calc(20px + (25 - 20)*((100vw - 320px)/(1280-320)));
}
.divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 3px solid #343a40;
}
.decoration{
    list-style: none;
}
li{
    padding: 0.25rem 0;
}
p{
    line-height: 2rem;
    padding-bottom: 1.5rem;
}
.p-text{
    line-height: 1.5rem;
    padding-bottom: 1rem;
}
.py-6{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.pb-6{
    padding-bottom: 3.5rem;
}
.aling{
    display: flex;
    justify-content: space-between;
}
.w-24{
    width: 24% !important;
}
  .carousel-indicators li {
    width: 15px;
    height: 6px;
    border-radius: 50%;
    background-color: #343a40;
  }


  